// .con-footer{

//         position: absolute;
//         bottom: 0px;
//         color: white;
//         background-color:#1D4C5B;
//         text-align: center;
        
//         &__row{
//             padding: 30px;
//         } 
// }

.con-footer,{

    
    &__row{
        padding: 30px;
    } 
    &__col-md{
        padding: 10px 25px;
        background-color:#E5E5E5;
        color: black;
    }

}

// tijdelijk om te testen
.qwerty{
    background-color:grey ;
}

.footer{
    width: 100vw;
    position: absolute;
    bottom: 0px;
    color: white;
    background-color:#1D4C5B;

    .text-muted{
        color: red;
    }

    .row div{
        padding: 10px 25px;
        background-color:#E5E5E5;
        color: black;
    }
}