// SCSS voor contact.html

.footer{
    // style de footer zelf
    color: white;
    background-color:#1D4C5B;
    position: relative;
    bottom: 0px;
    width: 100%;


    // geef de coloms een style
    .container > .row > div{padding: 10px 25px;background-color:#E5E5E5;color: black;margin-top: -50px; padding-bottom: 40px;}
    .col-md-9{width: 72%;}
    // Opmaak Copy tekst onderaan
    .row > p{text-align: center;padding: 25px;}

    // Nieuwsbrief/contact
    .container ul{display: flex;list-style-type: none;padding: 5px 5px;position: absolute;top: 0px;right: 0px;}
    .container ul li{padding: 15px 5px; position: relative;}
    .col-md-9{position: relative;}
    // de lijn der onder nieuwsbrief/contact
    .container ul li span{transition-property: width;transition-duration: 700ms;width: 0px;height: 5px;position: absolute;bottom: 0px;left: 5%;background: linear-gradient(90deg, rgba(1,57,73,1) 0%, rgba(127,157,165,1) 100%);}
    // animate op hover
    .container ul > li:hover span{width: 91%;}
    // class dieword getoggeld met jqeury
    .footer-ul-hover{width: 91% !important;background: linear-gradient(90deg, rgba(174,102,81,1) 0%, rgba(233,161,141,1) 100%) !important;}

    // tekst onder De titel
    .col-md-9 ul + h2 + p{padding: 15px 0;}

    // style inputs
    // custom chackboxes
    // verbegen inputs
    input[type=checkbox]{position: absolute;opacity: 0;cursor: pointer;height: 0;width: 0;}
    input[type=checkbox] + label{position: relative;}
    // de tekst naast de checkbox aanpasen
    input[type=checkbox] + label p{margin-left: 50px;margin-top: 20px;max-width: 400px;}
    input[type=checkbox] + label:hover span{ background-color: #BCBCBC;}
    // Zet een nieuwe "checkbox"neer
    input[type=checkbox] + label span{position: absolute;top: 0;left: 0;height: 40px;width: 40px;margin-top: 10px;margin-bottom: 10px;background-color: #ACACAC;}
    // checkmark opmaak
    input[type=checkbox] + label span svg{transform: translate(5px, 5px);opacity: 0;transition-property:opacity;transition-duration: 400ms;}
    // Laat checkmark zien waneer checked
    input[type=checkbox]:checked + label span svg{opacity: 1;}
    
    // text input
    input[type=email],.contact input{width: 80% ;height: 40px; border: none; padding-left: 15px; background-color: #ACACAC; color:white;}
    // placeholder inclusief prefixes
    input[type=email]::placeholder,.contact input::placeholder{color: white;}/* Chrome, Firefox, Opera, Safari 10.1+ */
    input[type=email]:-ms-input-placeholder,.contact input::-ms-input-placeholder {color: white;}/* Internet Explorer 10-11 */
    input[type=email]::-ms-input-placeholder,.contact input::-ms-input-placeholder {color: white;} /* Microsoft Edge */
    .contact input[type=tel]{margin: 20px 0px;}
    .contact input[type=text]{height: 150px;}

    // Social media`
    .col-md-3{margin-left: 3%}
    .col-md-3 h2 ,.col-md-3 p{padding: 5px 0px;}
    .grid{display: grid;grid-template-columns: 1fr 1fr;grid-template-rows: 1fr 1fr;gap: 0px 0px;}
    .grid img{ margin: auto; display: block; padding: 20px;}
}

// 
// tijdelijk om te testen
// 
// body{
//     min-height: 100vh;
// }
// body{
//     min-height: 100vh;
// }


// header??
.hero{
    padding-top: 25vh;
    background-image: url("../images/hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    width: 100vw;
    height: 300px;
    color: white;
    font-family: 'AmaticSC-Regular';
    &__title{
        font-size: 70px;
    }
    &__slogan{
        font-size: 35px;
    }
    &__cta{
        line-height: 50px;
        display: inline;
        padding: 5px 10px;
        background: linear-gradient(to right, #D2431B, #A62400);
        font-family: 'Roboto-Bold';
        &__hyperlink{
            text-transform: uppercase;
            text-decoration: none;
            color: white;
        }
    }
}

.social-class{
    margin-left: 10px;
}