.hero{
    padding-top: 25vh;
    background-image: url("../images/HeaderBG_galerie.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    width: 100vw;
    height: 300px;
    color: white;
    &__title{
        font-size: 70px;
        font-family: 'AmaticSC-Regular';
    }
    &__slogan{
        font-size: 35px;
        font-family: 'AmaticSC-Regular';
    }
    &__cta{
        line-height: 50px;
        display: inline;
        padding: 5px 10px;
        background: linear-gradient(to right, #D2431B, #A62400);
        font-family: 'Roboto-Bold';
        &__hyperlink{
            text-transform: uppercase;
            text-decoration: none;
            color: white;
        }
    }
}


.theme{
    &__galerietitle{
        font-family: 'AmaticSC-Regular';
        font-size: 50px;
        margin: 100px 0px 30px 0px;
    }
    &__wrapper{
        &__image{
            img{
                object-fit: cover;
                object-position: center;
            }
        }
        &__content{
            box-shadow: 2px 2px 10px #ACACAC;
            padding: 15px 25px;
            width: 72.3%;
            .title-wrapper{
                position: relative;
                margin-bottom: 10px;
                .titel{
                    font-size: 18px;
                }
                .prijs{
                    font-size: 12px;
                    text-align: right;
                    color: #013949;
                    margin-top: -20px;
                }
            }
            .content{
                font-size: 12px;
                width: 80%;
            }
            .subtitle{
                margin-top: 20px;
                font-size: 10px;
                width: 80%;
            }
            .name{
                font-size: 10px;
                color: #D2431B;
            }
        }
    }
}

/****************Slider button scss******************/

.imagecontainer{
    width: 70%;
    // height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 256px;
    margin: 20px 0px;
}

/**Styling box element waar alles in zit*/
.box{
    width: 350px;
    border-radius: 10px;
    box-shadow: 2px 10px 12px rbga(0,0,0, 0.5);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 20px 45px;
    /*Hover effect - afbeelding komt een beetje naar voren*/
    &:hover{
        background-color: #ededed;
        transform-style: preserve-3d;
        transform: scale(1.02);
        transition: all ease 0.3s;
    }
}


/*Styling main afbeelding*/
.model{
    height: 325px;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}
/*Styling details sectie onder de afbeelding*/
.details{
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 10px #ACACAC;
    padding: 15px 20px;
    &__content{
        .title-wrapper{
            margin-bottom: 20px;
            .title{
                text-transform: uppercase;
                font-size: 18px;
            }
            .prijs{
                font-size: 12px;
                text-align: right;
                color: #013949;
                margin-top: -20px;
            }
        }
        .content{
            font-size: 12px;
            width: 80%;
        }
        .subtitle{
            margin-top: 20px;
            font-size: 10px;
            width: 80%;
        }
        .name{
            font-size: 10px;
            color: #D2431B;
        }
    }
}

