
.hero{
    background-image: url("../images/hero.png");
    text-align: center;
    width: 100vw;
    height: 500px;
    color: white;
    font-family: 'AmaticSC-Regular';
    &__title{
        font-size: 50px;
    }
<<<<<<< HEAD
    &__content{
        color: green;
        &__content{
            color: blue;
        }
=======
    &__slogan{
        font-size: 25px;
    }
    &__cta{
        text-transform: uppercase;
        text-decoration: none;
        padding: 5px;
        color: white;
        background-color: gradient(#D2431B, #A62400);
>>>>>>> 561144f4e8414210fa7a230f72c3fd9365a666d5
    }
}

