.hero{
    padding-top: 25vh;
    background-image: url("../images/hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    width: 100vw;
    height: 300px;
    color: white;
    font-family: 'AmaticSC-Regular';
    &__title{
        font-size: 70px;
    }
    &__slogan{
        font-size: 35px;
    }
    &__cta{
        line-height: 50px;
        display: inline;
        padding: 5px 10px;
        background: linear-gradient(to right, #D2431B, #A62400);
        font-family: 'Roboto-Bold';
        &__hyperlink{
            text-transform: uppercase;
            text-decoration: none;
            color: white;
        }
    }
}

.theme{
    &__newstitle{
        font-family: 'AmaticSC-Regular';
        font-size: 35px;
        padding: 20px 0px;
    }
    &__news-image{
        img{
            width: 100%;
            height: auto;
            object-fit: cover; 
            object-position: center;
        }
    }
    &__news-contentwrapper{
        .title{
            font-family: 'AmaticSC-Regular';
            font-size: 26px;
            margin-bottom: 5px;
        }
        .content{
            font-size: 16px;
            font-family: 'Roboto-Regular';
            margin-bottom: 15px;
        }
        .button{
            float: right;
            .button{
                color: #D2431B;
                font-size: 12px;
            }
        }
        .date{
            text-align: right;
            margin-top: -30px;
        }
    }
    &__newsblock{
        display: flex;
        margin-bottom: 40px;
        &__image{
            img{
                width: 100%;
                height: auto;
                object-fit: cover; 
                object-position: center;
            }
        }
        &__wrapper{
            padding-left: 10px;
            box-shadow: 2px 2px 10px #ACACAC;
            .title{
                font-family: 'AmaticSC-Regular';
                font-size: 30px;
                margin-bottom: 5px;
            }
            .content{
                font-size: 16px;
                font-family: 'Roboto-Regular';
                margin-bottom: 15px;
                width: 75%;
            }
            .button{
                float: right;
                .button{
                    color: #D2431B;
                    font-size: 12px;
                }
            }
        }
    }
    &__wrapper{
        margin: 50px 0px;
        &__image{
            display: flex;
            justify-content: center;
            img{
                object-fit: cover;
                object-position: center;
                width: 90%;
                display: inline-block;
            }
        }
        &__content{
            box-shadow: 2px 2px 10px #ACACAC;
            padding: 15px 25px;
            width: 82%;
            margin-left: 32px;
                .title-wrapper{
                    position: relative;
                    margin-bottom: 10px;
                    .titel{
                        font-size: 25px;
                    }
                    .date{
                        font-size: 12px;
                        text-align: right;
                        color: #013949;
                        margin-top: -20px;
                    }
                }
                .content{
                    font-size: 18px;
                    width: 80%;
                    margin-top: 15px;
                }
                .subtitle{
                    margin-top: 20px;
                    font-size: 12px;
                    width: 80%;
                }
                .name{
                    font-size: 12px;
                    color: #D2431B;
                }
        }
    }
    &__button{
        display: flex;
        justify-content: center;
        margin: 20px 0px;
        .button{
            display: inline-block;
            font-size: 40px;
            font-family: 'AmaticSC-Regular';
            background: linear-gradient(to right, #D2431B, #A62400);
            color: #fff;
            padding: 5px 25px;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

.slogan-wrapper{
    display: flex;
  justify-content: center;
    .slogan{
        font-size: 70px;
        text-align: center;
        font-family: 'AmaticSC-Regular';
        width: 55%;
        margin: 50px 0px;
        box-shadow: 2px 2px 10px #ACACAC;
        padding: 20px;
        display: inline-block;

        .color{
            &__orange{
                color: #D2431B;
                font-weight: bold;
                font-family: 'AmaticSC-Regular';
            }
            &__blue{
                color: #013949;
                font-weight: bold;
                font-family: 'AmaticSC-Regular';
            }
        }
    }
}


