.hero{
    padding-top: 25vh;
    background-image: url("../images/placeholder1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    width: 100vw;
    height: 300px;
}

.theme{
    &__title{
        font-size: 60px;
        font-family: 'AmaticSC-Regular';
    }
}